{% extends 'base.html' %}
{% block title %}TieNexa: Copywriter - Home{% endblock %}
{% block content %}

  <div class="container-fluid pb-3 mt-4 gx-5">
    <p>Welcome to my website!</p>
  </div>

  <div class="container-fluid pb-3 mt-4">
    <div class="d-grid gap-3" style="grid-template-columns: 2fr 5fr 2fr;">
      <div class="bg-body-tertiary border rounded-3">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
      <div class="bg-body-tertiary border rounded-3">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
      <div class="bg-body-tertiary border rounded-3">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
    </div>
  </div>


{% endblock %}
